<% include ./partials/boilerplate.ejs %>

<a href='/clients/newclient'><img src="/images/createpro.jpg" width="42" height="42" border="0"> Create New Client</a>
<div>

 
	
</div>
<% include ./partials/footer.ejs %>