<% include ./partials/boilerplate.ejs %>

<h1 class="heading">My Life s your vacation</h1>




<a href='/clients/newclient'><img src="/images/createpro.jpg" width="42" height="42" border="0">
	<button class="btn btn-info">Create New Client</a></button>
<a href='/clients/'><img src="/images/allpro.png" width="42" height="42" border="0">
	<button class="btn btn-info"> View All Clients</a></button>

<% include ./partials/footer.ejs %>