<% include ./partials/boilerplate.ejs %>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h3 class="heading">My Life Is Your Vacation</h3>




<a href='/clients/newclient'>
	<button class="btn btn-primary">Create New Client</button></a>
	<a href='/clients/'>
		<button class="btn btn-primary"> View All Clients</button></a>

		<% include ./partials/footer.ejs %>