<% include ./partials/boilerplate.ejs %>

<div class="clientinfo">
  <form action="/login" method="post">
    <label>
      <h1 class="edithead">Username:</h1>
      <input type="text" name="username">
    </label><br>
    <label>
      <h1 class="edithead">Password:</h1>
      <input type="password" name="password">
    </label><br>
    <button type="submit" class="btn btn-primary">Log In</button>
  </form>
</div>

<br>
<br>
<br>
<h1 class="edithead"><a href='/signup'>Don't Have An Account? Sign UP!</a></h1>
<% include ./partials/footer.ejs %>