<% include ./partials/boilerplate.ejs %>
  <form action="/login" method="post">
    <label>
      <input type="text" name="username">
      <p>Username:</p>
    </label>
    <label>
      <input type="password" name="password">
      <p>Password:</p>
    </label>
    <button type="submit">Log In</button>
  </form>
<% include ./partials/footer.ejs %>