<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places"></script>
<script src="/src/jquery.js"></script>
<script src='/src/main.js'></script>



<button id='search'>Search Places</button>