<% include ./partials/boilerplate.ejs %>

<form action="/clients/users" method="POST">
  <lable>
  Username:<br>
  <input type="text" name="username"/><br></br>
</lable>
<lable>
  Password:<br>
  <input type="password" name="password"/><br></br>
</lable>
<img src="/images/signup.png" width="42" height="42" border="0"><button type="submit" class="btn btn-primary" type="submit">Sign Up</button>
</form>

<% include ./partials/footer.ejs %>