<!DOCTYPE html>
<html>
<head>
	<title>Travel Liason</title>
</head>
<body>

<%	clients.forEach(client => { %> 
		<h1><%= client.fname +' '+ client.lname %></h1>
		<h2><%= client.dob %></h2>
 <% }) %>

</body>
</html>