<% include ../partials/boilerplate.ejs %>


<header>
<%	clients.forEach(client => { %> 
		<h1><%= client.fname +' '+ client.lname %></h1>
		<h2><%= client.dob %></h2>

<% }) %>
</header>


<% include ../partials/footer.ejs %>