<% include ../partials/boilerplate %>


<a href='/clients/newclient'><button class="btn btn-primary"> Create New Client</button></a>

<header>
<%	clients.forEach(client => { %> 
		<h1><%= client.fname +' '+ client.lname %></h1>
		<h2><%= client.dob %></h2>
		<p><%= client.type %></p>


<% }) %>
</header>


<% include ../partials/footer %>
