<% include ../partials/boilerplate %>

<form method="POST" action="/clients">
<fieldset>
	<legend>New Client</legend>
	<input name="fname" type="text" placeholder="First Name:"/>
	<input name="lname" type="text" placeholder="Last Name:"/>
	<select name="sex">
  	<option value="Male">Male</option>
  	<option value="Female">Female</option>
  	</select>
	<input name="address" type="text" placeholder="Address:"/>
	<input name="homephone" type="tel" placeholder="Home Phone:"/>
	<input name="cellphone" type="tel" placeholder="Cell Phone:"/>
	<input name="email" type="email" placeholder="Email:"/>
	<input name="dob" type="date" placeholder="Date of Birth:"/>
	<select name="clienttag">
    <% type.forEach(type =>{ %>
      <option value="<%= type.typeid %>"><%= type.type %></option>
    <% }) %>
  </select>
	<input type="Submit" Value="Create New Profile" />
</fieldset>
</form>

<% include ../partials/footer %>