<% include ../partials/boilerplate %>

<form method="POST" action="/clients">
	<input name="fname" type="text" placeholder="First Name"/>
	<input name="lname" type="text" placeholder="Last Name"/>
	<input name="sex" type="text" placeholder="Sex"/>
	<input name="address" type="text" placeholder="Address"/>
	<input name="homephone" type="text" placeholder="Home Phone"/>
	<input name="cellphone" type="text" placeholder="Cell Phone"/>
	<input name="email" type="text" placeholder="Email"/>
	<input name="dob" type="text" placeholder="Date of Birth"/>
	<input type="Submit" Value="Create New Profile" />
</form>

<% include ../partials/footer %>