<% include ../partials/boilerplate %>

<div class='client'>
	<h2><%= data.fname +' '+ data.lname %></h2>
</div>

<form action="/clients/<%= data.id %>?_method=Delete" method="Post">
    <input type="Submit" value="Delete"/>
  </form>



<% include ../partials/footer %>